{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
	<div class="container-fluid">
	  <div class="pull-right">
		<button type="submit" form="form-bank-transfer" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
		<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
	  <h1>{{ heading_title }}</h1>
	  <ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	  </ul>
	</div>
  </div>
  <div class="container-fluid">
	{% if error_warning %}
	<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	{% endif %}
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
	  </div>
	  <div class="panel-body">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-bank-transfer" class="form-horizontal">
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="payment_liisi_status">{{ entry_field_status }}</label>
			<div class="col-sm-10">
			  <select name="payment_liisi_status" id="payment_liisi_status" class="form-control">
				<option value="0" {{ payment_liisi_status  ==  0 ? 'selected="selected"' : '' }}>Disabled</option>
				<option value="1" {{ payment_liisi_status  ==  1 ? 'selected="selected"' : '' }}>Enabled</option>
			  </select>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="payment_liisi_server">{{ entry_field_server }}</label>
			<div class="col-sm-10">
			  <select name="payment_liisi_server" id="payment_liisi_server" class="form-control">
					<option value="0" {{ payment_liisi_server  ==  0 ? 'selected="selected"' : '' }}>Test</option>
					<option value="1" {{ payment_liisi_server  ==  1 ? 'selected="selected"' : '' }}>Live</option>
			  </select>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="payment_liisi_snd_id">{{ entry_field_snd }}</label>
			<div class="col-sm-10">
			  <input type="text" name="payment_liisi_snd_id" id="payment_liisi_snd_id" value="{{ payment_liisi_snd_id }}" placeholder="{{ entry_field_snd }}" class="form-control" />
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="payment_liisi_public">{{ entry_field_public }}</label>
			<div class="col-sm-10">
			  <textarea name="payment_liisi_public" id="payment_liisi_public" class="form-control">{{ payment_liisi_public }}</textarea>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="payment_liisi_private">{{ entry_field_private }}</label>
			<div class="col-sm-10">
			  <textarea name="payment_liisi_private" id="payment_liisi_private" class="form-control">{{ payment_liisi_private }}</textarea>
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="payment_liisi_private_password">{{ entry_field_private_password }}</label>
			<div class="col-sm-10">
			  <input type="password" name="payment_liisi_private_password" id="payment_liisi_private_password" value="{{ payment_liisi_private_password }}" placeholder="{{ payment_liisi_private_password }}" class="form-control" />
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="payment_liisi_payment_confirm">{{ entry_field_payment_confirm }}</label>
			<div class="col-sm-10">
			  <input type="text" name="payment_liisi_payment_confirm" id="payment_liisi_payment_confirm" value="{{ payment_liisi_payment_confirm }}" placeholder="{{ entry_field_payment_confirm }}" class="form-control" />
			</div>
		  </div>
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="payment_liisi_sort_order">{{ entry_field_sort_order }}</label>
			<div class="col-sm-10">
				<input type="text" name="payment_liisi_sort_order" id="payment_liisi_sort_order" value="{{ payment_liisi_sort_order }}" placeholder="{{ entry_field_sort_order }}" class="form-control" />
			</div>
		  </div>
		</form>
	  </div>
	</div>
  </div>
</div>
{{ footer }}