<form id="liisiform" action="{{ action }}" method="post">
  {% for key, val in formFields %} 
    {{ '<input type="hidden" name="'~key~'" value="'~val~'" />' }}
  {% endfor %}
  
  <div class="buttons">
    <div class="pull-right">
      <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
    </div>
  </div>
</form>
<script type="text/javascript"><!--
    $('#button-confirm').bind('click', function() {
        $('#liisiform').submit();
    });
//--></script>